---
import "../../styles/global.css";
import DashboardLayout from "../../layouts/DashboardLayout.astro";

const activePage = "parametros-crm";
---

<DashboardLayout title="Parâmetros • CRM" {activePage} module="CrmTemplates">
  <p>Em construção.</p>
</DashboardLayout>
