---
import Layout from "../../layouts/DashboardLayout.astro";
import EquipeGestorIsland from "../../components/islands/EquipeGestorIsland";

const pageTitle = "Equipe";
---

<Layout title={pageTitle} module="Parametros" activePage="parametros-equipe">
  <div class="page-content-wrap">
    <EquipeGestorIsland client:idle />
  </div>
</Layout>
