---
import Layout from "../../layouts/DashboardLayout.astro";
import EscalaGestorIsland from "../../components/islands/EscalaGestorIsland.tsx";

const pageTitle = "Escalas";
---

<Layout title={pageTitle} activePage="parametros-escalas">
  <div class="page-content-wrap">
    <EscalaGestorIsland client:load />
  </div>
</Layout>
