---
import "../../styles/global.css";
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import ParametrosSistemaIsland from "../../components/islands/ParametrosSistemaIsland.tsx";

const activePage = "parametros";
---

<DashboardLayout title="Parâmetros do Sistema" {activePage} module="Parametros">
  <h1 class="page-title">Parâmetros do Sistema</h1>
  <p class="page-subtitle">Ajuste regras globais que impactam metas, cancelamentos e modo corporativo.</p>

  <ParametrosSistemaIsland client:load />
</DashboardLayout>
