---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import DashboardGestorIsland from "../../components/islands/DashboardGestorIsland";
---

<!--
  Dashboard do Gestor
  Rota protegida:
  – Somente GESTOR (ou ADMIN) pode acessar
-->

<DashboardLayout title="Dashboard do Gestor" activePage="dashboard">
  <div class="page-content-wrap">
    <DashboardGestorIsland client:visible />
  </div>
</DashboardLayout>
