---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import AdminPermissoesIsland from "../../components/islands/AdminPermissoesIsland";
---

<DashboardLayout title="Permissões do Sistema">
  <div class="page-content-wrap">
    <AdminPermissoesIsland client:visible />
  </div>
</DashboardLayout>
