---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import HeaderPage from "../../components/ui/HeaderPage.astro";
import QuoteListIsland from "../../components/islands/QuoteListIsland.tsx";

const activePage = "orcamentos";
---

<DashboardLayout title="Consulta de Orcamentos" {activePage}>
  <HeaderPage
    title="Consulta de Orcamentos"
    subtitle="Listagem de orcamentos importados e confirmados."
    color="blue"
    stackActionsOnMobile={true}
  >
    <div class="mobile-stack-buttons">
      <a class="vtur-app-button vtur-app-button-primary" href="/orcamentos/importar">Importar orcamento</a>
      <a class="vtur-app-button" href="/orcamentos/criar">Criar orcamento</a>
      <a class="vtur-app-button" href="/orcamentos/personalizados">Personalizados</a>
    </div>
  </HeaderPage>

  <QuoteListIsland client:only="react" />
</DashboardLayout>
