---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import QuoteListIsland from "../../components/islands/QuoteListIsland";

const activePage = "orcamentos";
---

<DashboardLayout title="Consulta de Orcamentos" {activePage}>
  <div class="orcamentos-consulta-page">
    <QuoteListIsland client:only="react" />
  </div>
</DashboardLayout>
