---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import ClientesIsland from "../../components/islands/ClientesIsland.tsx";

const activePage = "clientes";
---

<DashboardLayout title="Cadastro de Clientes" {activePage}>
  <div class="page-content-wrap">

    <ClientesIsland client:only="react" />
  </div>
</DashboardLayout>
