---
import Layout from "../../../layouts/DashboardLayout.astro";
import CommissionTemplatesIsland from "../../../components/islands/CommissionTemplatesIsland.tsx";

const pageTitle = "Templates de Comissão";
---

<Layout title={pageTitle} module="Parametros">
  <h1 class="page-title">{pageTitle}</h1>

  <CommissionTemplatesIsland client:load />
</Layout>
