---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import CampanhasIsland from "../../components/islands/CampanhasIsland.tsx";

const activePage = "operacao_campanhas";
---

<DashboardLayout title="Campanhas" activePage={activePage}>
  <div class="page-content-wrap">
    <CampanhasIsland client:load />
  </div>
</DashboardLayout>
