---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import ConciliacaoIsland from "../../components/islands/ConciliacaoIsland";
const activePage = "operacao_conciliacao";
---

<DashboardLayout title="Conciliação" activePage={activePage}>
  <div class="page-content-wrap">
    <ConciliacaoIsland client:only="react" />
  </div>
</DashboardLayout>
