---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import ControleSacIsland from "../../components/islands/ControleSacIsland.tsx";

const activePage = "operacao_sac";
---

<DashboardLayout title="Controle de SAC" {activePage}>

  <div class="page-content-wrap">
    <ControleSacIsland client:only="react" />
  </div>
</DashboardLayout>
