---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import DocumentosViagensIsland from "../../components/islands/DocumentosViagensIsland";
const activePage = "operacao_documentos_viagens";
---

<DashboardLayout title="Documentos Viagens" activePage={activePage}>
  <div class="page-content-wrap">
    <DocumentosViagensIsland client:only="react" />
  </div>
</DashboardLayout>
