---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import MinhasPreferenciasIsland from "../../components/islands/MinhasPreferenciasIsland";
const activePage = "operacao_preferencias";
---

<DashboardLayout title="Minhas Preferências" activePage={activePage}>
  <div class="page-content-wrap">
    <MinhasPreferenciasIsland client:load />
  </div>
</DashboardLayout>
