---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import MuralRecadosIsland from "../../components/islands/MuralRecadosIsland";
const activePage = "operacao_recados";
---

<DashboardLayout title="Mural de Recados" activePage={activePage}>
  <div class="page-content-wrap">
    <MuralRecadosIsland client:load />
  </div>
</DashboardLayout>
