---
import Layout from "../../layouts/DashboardLayout.astro";
import FechamentoComissaoIsland from "../../components/islands/FechamentoComissaoIsland.tsx";

const pageTitle = "Fechamento de Comissão";
---

<Layout title={pageTitle} module="Metas">
  <h1 class="page-title">{pageTitle}</h1>
  <FechamentoComissaoIsland client:load />
</Layout>
