---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import ParametrosNaoComissionaveisIsland from "../../components/islands/ParametrosNaoComissionaveisIsland";
---

<DashboardLayout title="Parâmetros de importação" activePage="admin-parametros-importacao">
  <div class="page-content-wrap">
    <ParametrosNaoComissionaveisIsland client:visible />
  </div>
</DashboardLayout>
